{% set card_modifier = card.modifier|replace({'_': '-'}) %}

<div class="card {{ card.modifier }}">

  {% if card.media %}
    {{ card.media }}
  {% endif %}

  <div class="card-body">
    {%
      include '@drupalx_theme/heading/heading.twig' with {
        "heading": card.heading,
        "modifier": 'card-title',
        "link": {
          "url": card.link.url,
          "text": card.link.text
        }
      } only
    %}

    {% if card.summary_text %}
      <p class="card-text">
        {{ card.summary_text }}
      </p>
    {% endif %}

    {% if card.node_count %}
      <p class="card-node-count">{{ card.node_count }} items</p>
      {# Use the node_counts variable in your Card component template #}
      {% for type, count in node_count %}
        <p>{{ type }}: {{ count }}</p>
      {% endfor %}
    {% endif %}

    {% if card.type %}
      <p class="card-type">Type: {{ card.type }}</p>
    {% endif %}

    {% if 'flag-card' in card.modifier %}
      {% include '@drupalx_theme/button/button.twig' with {
        "button": {
          "url": card.link.url,
          "text": card.link.text,
          "icon": '',
          "modifier": 'btn-outline-light text-uppercase mt-5 ms-8'
        }
      } only %}
    {% endif %}
  </div>
</div>
