{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('drupalx_theme/accordion') }}

{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'my-6',
    'container',
  ]
%}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {% if content.field_title %}
      {% if content.field_html_id %}
        {% set heading_id = content.field_html_id[0]['#context'].value %}
      {% endif %}
      {%
        include 'drupalx_theme:heading' with {
          "heading": {
            "title": content.field_title,
            "heading_level": "2",
            "html_id": heading_id,
            "modifier": "text-dark mb-4",
          },
        } only
      %}
    {% endif %}

    {% if content.field_summary %}
      {{ content.field_summary }}
    {% endif %}

    {% if content.field_expand_all[0]['#markup'] == 'On' %}
      <a href="#" class="accordion-toggler text-end" data-bs-toggle="collapse" data-bs-target=".accordion-collapse" aria-expanded="false" aria-controls="collapse{{ item.accordion_instance }}">
        Expand all
      </a>
    {% endif %}
    {% embed 'drupalx_theme:accordion' with { content: content, modifier: "container" } only %}
      {% block accordion_items %}
        {{ content.field_accordion_item }}
      {% endblock accordion_items %}
    {% endembed %}
  {% endblock %}
</section>
